@media (min-width:576px) and (max-width:992px) {
    
    .carousel-empresa {
        display: none;
    }

    .error404mobile {
        display: none;
    }

    .galeria-empresa {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 33vh 33vh 33vh;
        grid-template-areas:
            "foto1 foto2"
            "foto3 foto4"
            "foto5 foto5";
    }

    .botonera {
        ul {
            li {
                a {
                    font-size: $textNavMobile;
                }
            }
        }
    }
}

@media (max-width:576px) {
    .galeria-empresa {
        display: none;
    }

    .error404 {
        display: none;
    }

    .botonera {
        ul {
            li {
                a {
                    font-size: $textNavMobile;
                }
            }
        }
    }


    h1 {
        font-size: 7vw;
    }

    p {
        font-size: $textMobileSm;
        margin: 5px;
    }

    .tabla-empresa div {
        font-size: $textMobileSm;
        margin: 5px;
    }
}

@media (min-width:992px) {
    .carousel-empresa {
        display: none;
    }

    .error404mobile {
        display: none;
    }
}