@media (max-width:576px) {
    .galeria-empresa {
        display: none;
    }

    .error404 {
        display: none;
    }

    .logodesktop {
        display: none;
    }



    .botonera {
        div {
            a {
                margin-left: 40%;
            }
        }


        ul {
            div {
                display: block;
                margin: auto;
            }

            li {
                a {
                    margin: auto;
                    font-size: $textNavMobile;
                }
            }
        }
    }


    h1 {
        text-align: center;
        font-size: $textMobileLg;
    }

    h2 {
        text-align: center;
        font-size: $textMobileSm;
    }

    p {
        text-align: center;
        font-size: $textMobileSm;
        margin: 5px;
    }

    .tabla-empresa div {
        font-size: $textMobileSm;
        margin: 5px;
    }

    form div label {
        @include boxtext(3vw, white)
    }

    .mapa {
        filter: grayscale(0);
    }

}


@media (min-width:576px) and (max-width:992px) {

    .carousel-empresa {
        display: none;
    }

    .error404mobile {
        display: none;
    }

    .logodesktop {
        display: none;
    }

    .galeria-empresa {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 33vh 33vh 33vh;
        grid-template-areas:
            "foto1 foto2"
            "foto3 foto4"
            "foto5 foto5";
    }

    .botonera {
        ul {
            div {
                display: block;
                margin: auto;
            }

            li {
                a {
                    font-size: $textNavMobile;
                }
            }
        }
    }

    .mapa {
        filter: grayscale(0);
    }

    form div label {
        @include boxtext(2vw, white)
    }
}


@media (min-width:992px) {
    .carousel-empresa {
        display: none;
    }

    .error404mobile {
        display: none;
    }

    .logomobile {
        display: none;
    }
}