h1 {
    color: $mainColor;
    font-family: $mainFont;
    font-size: $textLg;
}

h2 {
    color: $secondaryColor;
    font-family: $mainFont;
}

p {
    @extend h2;
    font-size: $textMd;
}

a {
    font-family: $secondaryFont;
    text-decoration: none;
}

hr {
    color: $mainColor;
}

header img {
    width: 100%;
}


img.mediana {
    width: 150px;
}

.w-90 {
    width: 90%;
}

.bg-home {
    background-image: url(../backgrounds/background-home.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}