
.mapa{
    width: 100%;
    height: 450px;
    filter: grayscale(1);
    &:hover{
        filter: grayscale(0);
        transition: 0.75s;
    }

}

.error404{
    width: 100%;   
}
.error404mobile{
    width: 100%;
}

form div label {
    @include boxtext(3vw,white)
}