

.botonera {
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 20px;

        div {
            display: flex;
            justify-content: space-between;
        }
        li {
            color: $mainColor;
            text-decoration: none;
            font-size: 1.5em;
            display: flex;
            margin-left: 1em;

            a {
                color: $mainColor;
                text-decoration: none;
                font-size: 1em;
                 &:hover{
                    color: $keyColor;
                    transform: scale(1.2);
                    transition: 0.3s;
                    
                } 
               
            }
        }
    }
}
