// variables globales

//colores
$mainColor: white;
$secondaryColor: grey;
$keyColor: lightblue;

//fonts
$mainFont: 'Oswald', sans-serif;
$textSm: 1vw;
$textMd: 2vw;
$textLg: 4vw;

$textNavMobile: 3vw;
$textMobileSm: 3vw;
